#container{
    padding: 10px 50px 15px;
    margin-left: auto; 
    margin-right:auto
  }
  
  .form_register{
    width: 590px;
    margin: auto;
  }
  .form_register h1{
    text-align: center;
    color: #3c93b0;
  }
  hr{
    border: 0;
    background: #CCC;
    height: 2px;
    margin: 2px;
    display: block;
  }
  form{
    background: #FFF ;
    margin: auto;
    padding: 0px 50px;
    border: 5px solid #d1d1d1; 

  }
  label{
      display: block;
      font-size: 10pt;
      margin: 1px auto 0px auto;
  }
  input,select{
      display: block;
      width: 100%;
      font-size: 10pt;
      padding: 7px;
      border: 1px solid #85929e;
      border-radius: 5px;
  }
.notItemOne option:first-child{
  display: none;
}
.btn_save{
    font-size: 12pt;
    background: #12a4cd;
    padding: 10px;
    color: #FFF;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    margin: 15px auto;
  }

.alert{
    width: 100%;
    background: #66e07d66;
    border-radius: 6px;
    margin: 20px auto;
    padding: 0px;
}
.msg_error{
    color: #e65656;
}
.msg_save{
    color: #126e00;
}

/*====== LISTA DE USUARIOS ======*/

#container h1{
  font-size: 35px;
  display: inline-block;
}
.btn_new{
  display: inline-block;
  background: #239baa;
  color: #FFF;
  padding: 5px 25px;
  border-radius: 4px;
  margin: 20px;
}
table{
  border-collapse: collapse; 
  font-size: 12pt;
  font-family: 'arial';
  width: 100%;
}
table th{
  text-align: left;
  padding: 10px;
  background: #3d7ba8;
  color: #FFF;
}
table tr:nth-child(odd){
  background: rgb(226, 223, 223);
}
table td{
  padding: 10px;
}
.link_edit{
  color: #0ca4ce;
}
.link_delete{
  color: #f26b6b;
}
.data_delete{
  text-align: center;
}
.data_delete h2{
  font-size: 12pt;
}
.data_delete span{
  font-weight: bold;
  color: #4f72d4;
  font-size: 12pt;
}
.btn_cancel,.btn_ok{
  width: 124px;
  background: #478ba2;
  color: rgb(248, 242, 242);
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px;
}
.btn_cancel{
  background: #42b343;
}
.data_delete form{
  background: initial ;
  margin: auto;
  padding: 0px 50px;
  border: 0; 
}

/* BUSCADOR*/
.form_search{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  float: right;
  background: initial;
  padding: 10px;
  border-radius: 10px;
}
.form_search .btn_search{
  background: #1faac8;
  color: #fff;
  padding: 0 20px;
  border: 0;
  cursor: pointer;
  margin-left: 10px;
}